body{
    background-image:linear-gradient(to bottom, white, #FFE1E7);
}
.navbar ul{
    display: flex;
    list-style:none;
    justify-content:center;
    align-items: center;
    gap:49px;
    font-size:13px;
    font-weight: bold;
    font-family: "Market one" , "Arial", sans-serif;
    color: #949494;
    padding-top:22px;
    word-spacing:7px;
}
.inter{
    position: relative;
    top:-1px;
    color:dimgrey;
}
#SVGRepo_bgCarrier{
    position:relative;
}
.div1{
    position:relative;
    background-color:#FFE1E7;
    width:92%;
    height:1030px;
    left:2.2cm;

 }
.pix1{
    position:relative;
    left:20cm;
    top:-6.5cm;
    height:118%;
    width:53%;
}
.p1{
    position:absolute;
    left:3.5cm;
    top:1cm;
    font-size:100px;
    line-height: 90px;
    font-weight:100;
    font-family:"Arial", sans-serif;
    color:dimgrey;
}
.con1{
    position:relative;
    top:12cm;
    left:3.5cm;
    font-size:35px;
    font-family: "Arial", sans-serif;
    color:dimgrey;
    font-weight:100;
}
.div2{
    position:relative;
    display:flex;
    background-color:white;
    width:50%;
    height:730px;
    left:2.2cm;
    top:2.8cm;
}
.pic2{
    position:relative;
    left:22.7cm;
    height:730px;
    width:980px;
}
.p2{
    position:absolute;
    left:3.5cm;
    top:1.1cm;
    font-size:58px;
    line-height: 50px;
    font-weight:100;
    font-family:"Arial", sans-serif;
    color:dimgrey;
}
.con2{
    position:absolute;
    left:3.5cm;
    top:7cm;
    font-size:27px;
    font-family: "Arial", sans-serif;
    color:dimgrey;
    font-weight:lighter;
}
.button1{
     position:absolute;
     left:3.5cm;
     top:15cm;
    width:320px;
    height:1.8cm;
    font-family:"Arial", sans-serif;
    font-size:20px;
    color:dimgrey;
    background-color:white;
    border:1px solid dimgrey;
    font-weight:550;
}
 .div3{
     position:relative;
     background-color:white;
     width:50%;
     height:585px;
     left:2.1cm;
     top:4.8cm;
 }
 .pic3{
     position:relative;
     left:22.9cm;
     top:-67.5px;
     width:980px;
     height:585px;

 }
.p3{
    position:absolute;
    left:3.7cm;
    top:1.2cm;
    font-size:65px;
    line-height: 60px;
    font-weight:100;
    font-family:"Arial", sans-serif;
    color:dimgrey;
}
.con3{
    position:absolute;
    left:3.5cm;
    top:7cm;
    font-size:27px;
    font-family: "Arial", sans-serif;
    color:dimgrey;
    font-weight:lighter;
}
.button2{
    position:relative;
    left:3.5cm;
    top:12cm;
    width:320px;
    height:1.8cm;
    font-family:"Arial", sans-serif;
    font-size:20px;
    font-weight:550;
    color:dimgrey;
    background-color:white;
    border:1px solid dimgrey;
}
.div4{
    display:flex;
    position:relative;
    top:7.3cm;
    left:19.2cm;
    height:608px;
    width:60%;
    background-color:white;
}
.pic4{
    position:relative;
    left:-6.6cm;
    top:-331px;
    width:985px;
    height:605px;

}
.p4{
    position:relative;
    left:12.5cm;
    top:1cm;
    font-size:65px;
    line-height: 60px;
    font-weight:lighter;
    font-family:"Arial", sans-serif;
    color:dimgrey;
}
.con4{
    position:relative;
    left:-0.5cm;
    top:6.4cm;
    font-size:27px;
    font-family: "Arial", sans-serif;
    color:dimgrey;
    font-weight:lighter;
}
.button3{
    position:relative;
    left:32cm;
    top:-11.3cm;
    width:320px;
    height:1.8cm;
    font-family:"Arial", sans-serif;
    font-size:20px;
    font-weight:550;
    color:dimgrey;
    background-color:white;
    border:1px solid dimgrey;
}
footer {
    position:relative;
    display:flex;
    color: #646161;
    background-color:white;
    top:-6.9cm;
    width:100%;
    height:11.2cm;
    justify-content:center;
    align-items: center;
    font-family: "Arial", sans-serif;
}
.f1-1{
    position:relative;
    height:70px;
    width:90px;
    left:-395px;
    top:-2.8cm;
}
.table1{
    position:relative;
    top:-3.6cm;
    left:-3.7cm;
}
.l1{
    list-style:none;
    position:relative;
    left:-39px;
    font-size:15px;
    line-height: 1%;
    color:dimgrey;
}
.table2{
    position:relative;
    top:-1cm;
    left:-14px;
}
.l2{
    list-style:none;
    position:relative;
    left:-39px;
    font-size:15px;
    line-height: 25px;
    color:dimgrey;
}
.table3{
    position:relative;
    top:-2cm;
    left:80px;
}
.l3{
    list-style:none;
    position:relative;
    left:-39px;
    font-size:15px;
    line-height: 25px;
    color:dimgrey;
}
.table4{
    position:relative;
    top:-2.6cm;
    left:130px;
}
.l4{
    list-style:none;
    position:relative;
    left:-39px;
    font-size:15px;
    line-height: 25px;
    color:dimgrey;
}
.table5{
    position:relative;
    top:-3.8cm;
    left:240px;
}
.table6{
    position:relative;
    top:-1.8cm;
    left:350px;
}
.l6{
    list-style:none;
    position:relative;
    left:-39px;
    font-size:15px;
    line-height: 25px;
    color:dimgrey;
}
#f3{
    position:absolute;
    display:flex;
    top:9.5cm;
    width:100%;
    justify-content:center;
    align-items: center;
}
.danone{
    position:relative;
    left:-765px;
}
#nat{
    position:relative;
    left:-540px;
    font-size:15px;

}
#social{
    position:relative;
    left:700px;

}

